//-------Content. CATEGORIES (baner)------//

main {
  .categories {
    background-image: url(../img/zebra_main-blend.jpg);
    @supports (background-blend-mode: darken) {
      background-image: url(../img/zebra_main.jpg);
      background-color: rgba(#4006b5, 0.36);
      background-blend-mode: darken;
    }
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    min-height: 561px;
    text-align: center;
    color: $main_color;
    text-transform: uppercase;
    overflow-x: hidden;
    h2 {
      font-family: "Josefin Slab", serif;
      font-size: 116px;
      padding: 66px 0 36px;
      line-height: 1;
      text-transform: uppercase;
      text-shadow: 1px 1px 3px rgba($second_color, 0.8);
    }
    ul {
      width: 1023px;
      display: flex;
      margin: 0 auto 48px;
      position: relative;
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        background: rgba($categories_color, 0.8);
        border-radius: 50%;
        width: 200px;
        height: 200px;
      }
      &::before {
        top: 31px;
        left: -236px;
      }
      &::after {
        top: 0;
        right: -186px;
      }
      li {
        &:nth-child(1) {
          margin-left: -71px;
        }
        &:nth-child(2) {
          margin: 75px 0 0 -54px;
        }
        &:nth-child(3) {
          margin: 11px 0 0 -33px;
        }
        &:nth-child(4) {
          margin: 41px 0 0 -33px;
        }
        &:nth-child(5) {
          margin: 75px 0 0 -25px;
        }
        &:nth-child(6) {
          margin: 16px 0 0 -48px;
        }
        &:nth-child(7) {
          margin: 101px 0 0 -54px;
        }
        a {
          display: block;
          background: rgba($categories_color, 0.8);
          border-radius: 50%;
          color: $main_color;
          width: 200px;
          height: 200px;
          position: relative;
          span {
            display: none;
          }
          @extend #Transition;
          &:hover,
          &:focus {
            transform: scale(1.1);
            background: $main_color;
            color: $categories_color;
            z-index: 1;
            box-shadow: 0px 0px 8px 0px rgba($second_color, 0.8);
          }
          &:active {
            color: $active_color;
          }
          &::before {
            display: block;
            font-family: icomoon;
            line-height: 200px;
          }
          &.shoes::before {
            content: "\e907";
            font-size: 105px;
          }
          &.t-shirt::before {
            content: "\e909";
            font-size: 113px;
          }
          &.pants::before {
            content: "\e906";
            font-size: 115px;
          }
          &.hat::before {
            content: "\e904";
            font-size: 121px;
          }
          &.accessories::before {
            content: "\e901";
            font-size: 92px;
          }
        }
      }
    }
  }
}
